Repository FC-InnerCircle-ICD2/O2O-FE, pull requests merged in 2024-12, with the labels that each got.

#2 feat: Icon 공통 컴포넌트 추가
  next.config.ts
  package.json
  src/app/page.tsx
  src/assets/icons/heart.svg
  src/components/Icon.tsx
  src/utils/d.md
  yarn.lock
Labels: feat

#1 ✨ Feat: husky 세팅
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Labels: 🚀Feat

#4 Feat: label 자동 등록
  .github/labeler-config.yml
  .github/pr_auto_assign_config.yml
  .github/workflows/labeler.yml
Labels: 🚀Feat

#11 Feat/detail
  .github/labeler.yml
  src/app/detail/page.tsx
Labels: 🚀 Feat

#3 Feat/bottom navigation
  .gitignore
  next.config.ts
  src/app/favorites/layout.tsx
  src/app/favorites/page.tsx
  src/app/globals.css
  src/app/home/layout.tsx
  src/app/home/page.tsx
  src/app/layout.tsx
  src/app/mypage/layout.tsx
  src/app/mypage/page.tsx
  src/app/orders/layout.tsx
  src/app/orders/page.tsx
  src/app/page.tsx
  src/app/search/layout.tsx
  src/app/search/page.tsx
  src/assets/icons/arrow-left.svg
  src/assets/icons/clipboard.svg
  src/assets/icons/home.svg
  src/assets/icons/search.svg
  src/assets/icons/user.svg
  src/components/BottomNavigation.tsx
  src/components/CommonLayout.tsx
  src/components/Icon.tsx
  src/components/MainLayout.tsx
  src/components/Navigation.tsx
  src/components/d.md
  src/models/BottomNavigationMenu.ts
  src/utils/d.md
  src/utils/routes.ts
  tailwind.config.ts
Labels: 🚀 Feat, 🚀Feat
