Repository FC-InnerCircle-ICD2/O2O-FE, pull requests merged in 2025-01, with the labels that each got.

#12 ✨ Feat: 테스트용 도커파일 생성성성
  README.md
  docker/Dockerfile
  docker/build.sh
  docker/run.sh
Labels: 🚀Feat

#14 Feat: chip component 추가
  components.json
  package.json
  src/app/globals.css
  src/assets/icons/arrow-down.svg
  src/assets/icons/close.svg
  src/components/Chip.tsx
  src/components/Icon.tsx
  src/components/MainLayout.tsx
  src/components/ui/label.tsx
  src/lib/utils.ts
  tailwind.config.ts
  yarn.lock
Labels: 🚀Feat

#13 Feat/modal
  package.json
  src/app/home/_template/Test.tsx
  src/app/home/page.tsx
  src/app/layout.tsx
  src/components/Modal.tsx
  src/hooks/d.md
  src/hooks/useModal.ts
  src/models/d.md
  src/store/d.md
  src/store/modal.ts
  yarn.lock
Labels: 🚀Feat

#15 Feat/home page
  next.config.ts
  package.json
  src/app/home/_template/Home.tsx
  src/app/home/_template/Test.tsx
  src/app/home/page.tsx
  src/app/layout.tsx
  src/app/mypage/layout.tsx
  src/app/search/layout.tsx
  src/assets/icons/star.svg
  src/assets/icons/warning.svg
  src/assets/images/loading.gif
  src/components/BottomNavigation.tsx
  src/components/BottomSheet.tsx
  src/components/Chip.tsx
  src/components/CommonLayout.tsx
  src/components/Dot.tsx
  src/components/Error.tsx
  src/components/Icon.tsx
  src/components/Loading.tsx
  src/components/MainLayout.tsx
  src/components/Navigation.tsx
  src/components/home/FoodList.tsx
  src/components/home/FoodListItem.tsx
  src/components/ui/drawer.tsx
  src/hooks/useBottomSheet.ts
  src/store/bottomSheet.ts
  src/store/geoLocation.ts
  yarn.lock
Labels: 🚀Feat

#17 feat: home list 및 category drawer 구현 완료
  package.json
  public/images/food-categories/bell.png
  public/images/food-categories/bento.png
  public/images/food-categories/bibimbap.png
  public/images/food-categories/cup.png
  public/images/food-categories/dish.png
  public/images/food-categories/fried-chicken.png
  public/images/food-categories/hamburger.png
  public/images/food-categories/jokbal.png
  public/images/food-categories/nigiri.png
  public/images/food-categories/pho.png
  public/images/food-categories/pizza.png
  public/images/food-categories/salad.png
  public/images/food-categories/samgyetang.png
  public/images/food-categories/sandwich.png
  public/images/food-categories/steak.png
  public/images/food-categories/tendon.png
  public/images/food-categories/tteokbokki.png
  public/images/food-categories/zha-jiang-mian.png
  src/app/favorites/layout.tsx
  src/app/globals.css
  src/app/home/_components/CategoryDrawer.tsx
  src/app/home/_components/Home.tsx
  src/app/home/_components/HomeFoodList.tsx
  src/app/home/layout.tsx
  src/app/mypage/layout.tsx
  src/app/orders/layout.tsx
  src/app/search/_components/CategorySlide.tsx
  src/app/search/_components/ChipWrapper.tsx
  src/app/search/layout.tsx
  src/assets/icons/star.svg
  src/assets/images/loading.gif
  src/assets/images/loading_1.gif
  src/components/BottomNavigation.tsx
  src/components/BottomSheet.tsx
  src/components/CommonLayout.tsx
  src/components/Loading.tsx
  src/components/MainLayout.tsx
  src/components/Navigation.tsx
  src/components/shared/CategoryItem.tsx
  src/components/shared/FoodListItem.tsx
  src/hooks/useBottomSheet.ts
  src/models/category.ts
  src/store/bottomSheet.ts
  src/styles/color.ts
  tailwind.config.ts
  yarn.lock
Labels: 🚀Feat

#18 Feat/add tailwind plugin and nvmrc
  .nvmrc
  .prettierrc
  eslint.config.mjs
  package-lock.json
  package.json
  prettier.config.js
  src/components/BottomNavigation.tsx
  src/components/BottomSheet.tsx
  src/components/Dot.tsx
  src/components/shared/CategoryItem.tsx
  src/components/shared/FoodListItem.tsx
  src/components/ui/drawer.tsx
  src/components/ui/label.tsx
  src/lib/utils.ts
  yarn.lock
Labels: 🚀Feat

#27 prettier개선
  .vscode/settings.json
  eslint.config.mjs
  tsconfig.json
Labels: 👾Bug, 🚀Feat

#26 ✨ Feat: husky 에러메시지 출력되도록 수정 & 커밋타입 입력 시 대소문자 자동변환
  .husky/commit-msg
Labels: 🚀Feat

#25 Feat/home search page
  .vscode/settings.json
  fonts/Pretendard-Bold.woff2
  fonts/Pretendard-Medium.woff2
  fonts/Pretendard-Regular.woff2
  fonts/Pretendard-SemiBold.woff2
  src/app/globals.css
  src/app/home/_components/CategoryDrawer.tsx
  src/app/home/_components/CategorySlide.tsx
  src/app/home/_components/Home.tsx
  src/app/home/_components/HomeFoodList.tsx
  src/app/home/_components/HomeSearch.tsx
  src/app/home/layout.tsx
  src/app/home/page.tsx
  src/app/home/search/page.tsx
  src/app/layout.tsx
  src/app/search/_components/CategorySlide.tsx
  src/app/search/_components/RecentSearches.tsx
  src/app/search/_components/Search.tsx
  src/app/search/_components/SearchFoodList.tsx
  src/app/search/_components/SearchResult.tsx
  src/app/search/_components/TestSearch.tsx
  src/app/search/layout.tsx
  src/app/search/page.tsx
  src/app/search/result/page.tsx
  src/components/BottomNavigation.tsx
  src/components/BottomSheet.tsx
  src/components/Chip.tsx
  src/components/CommonLayout.tsx
  src/components/Icon.tsx
  src/components/Navigation.tsx
  src/components/shared/CategoryItem.tsx
  src/components/shared/CategoryListInBottomSheet.tsx
  src/components/shared/FoodListItem.tsx
  src/components/shared/FoodOrderFilter.tsx
  src/components/shared/FoodOrderListInBottomSheet.tsx
  src/hooks/useLocalStorage.ts
  src/models/orderType.ts
  src/store/bottomSheet.ts
  src/store/homeSearchFilter.ts
  src/styles/d.md
  src/styles/fonts.ts
  src/utils/routes.ts
  tailwind.config.ts
Labels: 🚀Feat

#35 [PR] 공통 Input 컴포넌트 개발
  components.json
  src/components/BottomSheet.tsx
  src/components/Chip.tsx
  src/components/input.tsx
  src/components/shadcn/drawer.tsx
  src/components/shadcn/input.tsx
  src/components/shadcn/label.tsx
Labels: 🚀Feat

#48 [PR] Fix: 공통 Input 수정하기
  src/assets/icons/x-circle.svg
  src/components/Icon.tsx
  src/components/input.tsx
Labels: ✨Fix

#29 Feat: 주문 내역 페이지 구현
  src/app/orders/_components/Order.tsx
  src/app/orders/_components/OrderItem.tsx
  src/app/orders/_components/OrderSearch.tsx
  src/app/orders/page.tsx
Labels: 🚀Feat

#57 Feat: Icon component를 lucide 기반으로 변경
  src/app/home/page.tsx
  src/app/home/search/_components/CategorySlide.tsx
  src/app/home/search/page.tsx
  src/app/orders/_components/OrderSearch.tsx
  src/app/search/_components/ChipWrapper.tsx
  src/app/search/_components/RealTimeSearches.tsx
  src/app/search/_components/RecentSearches.tsx
  src/app/search/_components/SearchFoodList.tsx
  src/app/search/_components/SearchInput.tsx
  src/app/search/result/_components/SearchResult.tsx
  src/app/search/result/page.tsx
  src/assets/icons/arrow-down.svg
  src/assets/icons/arrow-left.svg
  src/assets/icons/arrow-narrow-down.svg
  src/assets/icons/arrow-narrow-up.svg
  src/assets/icons/arrow-up.svg
  src/assets/icons/clipboard.svg
  src/assets/icons/close.svg
  src/assets/icons/dash.svg
  src/assets/icons/dots-horizontal.svg
  src/assets/icons/heart.svg
  src/assets/icons/home.svg
  src/assets/icons/search.svg
  src/assets/icons/share.svg
  src/assets/icons/star.svg
  src/assets/icons/user.svg
  src/assets/icons/warning.svg
  src/assets/icons/x-circle.svg
  src/components/BottomNavigation.tsx
  src/components/Chip.tsx
  src/components/Error.tsx
  src/components/Icon.tsx
  src/components/Navigation.tsx
  src/components/input.tsx
  src/components/shared/FoodListItem.tsx
  src/components/shared/FoodOrderFilter.tsx
  src/components/shared/FoodOrderListInBottomSheet.tsx
  src/models/BottomNavigationMenu.ts
Labels: 🚀Feat

#55 ✨ Feat: 주문 내역 페이지 피드백 반영 (flex-1로 구현, 공통 컴포넌트 추가, ui 개선)
  src/app/orders/_components/Order.tsx
  src/app/orders/_components/OrderItem.tsx
  src/app/orders/_components/OrderSearch.tsx
  src/components/button.tsx
Labels: 🚀Feat

#61 ✨ Feat: 공통 badge 구현
  src/components/Badge.tsx
Labels: 🚀Feat

#56 Feat/my page
  package.json
  src/app/globals.css
  src/app/mypage/_components/MeunList.tsx
  src/app/mypage/_components/Mypage.tsx
  src/app/mypage/_components/QuickMenuList.tsx
  src/app/mypage/_components/UserProfile.tsx
  src/app/mypage/page.tsx
  src/components/RippleeEffect.tsx
  src/components/Separator.tsx
  src/components/shadcn/separator.tsx
  yarn.lock
Labels: 🚀Feat

#64 Separator 기능 추가 및 커스텀 CSS 클래스 추가
  src/app/globals.css
  src/components/Separator.tsx
  tailwind.config.ts
Labels: 🚀Feat

#67 Fix : 주문 내역 페이지 피그마대로 구현
  src/app/orders/_components/Order.tsx
  src/app/orders/_components/OrderItem.tsx
  src/app/orders/_components/OrderSearch.tsx
Labels: ✨Fix

#66 Feat : 주문 상세 내역 퍼블리싱
  package.json
  src/app/detail/page.tsx
  src/app/order-detail/_components/OrderList.tsx
  src/app/order-detail/_components/OrderStatus.tsx
  src/app/order-detail/layout.tsx
  src/app/order-detail/page.tsx
  src/components/shadcn/progress.tsx
  yarn.lock
Labels: 🚀Feat

#69 회원가입 모달 퍼블리싱
  src/app/orders/_components/OrderSearch.tsx
  src/components/Modal.tsx
  src/components/input.tsx
  src/components/shared/LoginButtonSection.tsx
  src/components/shared/LoginModal.tsx
  src/components/shared/SignupModal.tsx
  src/hooks/useModal.ts
Labels: 🚀Feat
